body {
    background-image: url("img/sayagata-400px.png");
    background-attachment: fixed;
}

#order_form{
    margin-left: auto;
    margin-right: auto;
    width: 501px;
}
#datepicker{
    width: 100%;
}

#date_input, #name_input, #players_count{
    width: 98%;
    text-align: center;
}

#club_name{
    font-family: 'Righteous', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_label{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding: 0;
    margin: 0 0 5px;
}

.small_label{
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.col{
    float: left;
    margin-right: 5px;
    width: 49%;
}

#console_select{
    width: 100%;
    height: 20px;
}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.button-link_delete {
    padding: 5px 5px;
    background: #ba372c;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.button-link:hover, .button-link_delete:hover{
    box-shadow: 2px 2px 5px #888888;
}

#login_popup_link, #admin_link{
    position: fixed;
    left: 50px;
    top: 50px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}