.orders_table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
    box-shadow: 10px 10px 5px #888888;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.orders_table table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.orders_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.orders_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.orders_table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.orders_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.orders_table tr:hover td{

}
.orders_table tr:nth-child(odd){ background-color:#b7e2c5; }
.orders_table tr:nth-child(even)    { background-color:#ffffff; }.orders_table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:8px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.orders_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.orders_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.orders_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.orders_table tr:first-child td{
		background:-o-linear-gradient(bottom, #00802a 5%, #00802a 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00802a), color-stop(1, #00802a) );
	background:-moz-linear-gradient( center top, #00802a 5%, #00802a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00802a", endColorstr="#00802a");	background: -o-linear-gradient(top,#00802a,00802a);

	background-color:#00802a;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:21px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.orders_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #00802a 5%, #00802a 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00802a), color-stop(1, #00802a) );
	background:-moz-linear-gradient( center top, #00802a 5%, #00802a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00802a", endColorstr="#00802a");	background: -o-linear-gradient(top,#00802a,00802a);

	background-color:#00802a;
}
.orders_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.orders_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.orders_table tr:hover {
      background-color: #ffff99;
}

.orders_table tr {
      cursor: pointer;
}

.orders_table tr:first-child {
      cursor: default;
}
